go 1.21.0

use (
	shared

	services/fish
	services/grain
	services/tree
	services/water
	services/flour
	services/log
	services/board
	services/beer
	services/pig
	services/boat
	services/meat
	services/bread
	services/coal
	services/gold
	services/ironore
	services/coin

	netmark-scheduler
)
